button {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-ingresar,
.btn-registrar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.btn-ingresar {
    background: #a80000;
}

.btn-registrar {
    background: #6c757d;
}

.usuarios-body {
    background: #f4f4f4;
    display: block;
    padding: 60px;
    height: auto;
}

.tabla-box {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #212529;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.btn-editar {
    background: #ffc107;
    color: black;
    padding: 8px;
}

.btn-eliminar {
    background: #dc3545;
    padding: 8px;
}

.btn-salir {
    background: #6c757d;
    padding: 10px;
    margin-top: 15px;
}